@use "base.scss";

.searchBtn {
    box-shadow: 0px 2px 4px inset rgba(0, 0, 0, 0.25),
    0px -4px 6px inset rgba(198, 240, 255, 0.8);
    transition-property: box-shadow;
    transition-duration: 1s;
}

.searchBtn:active {
    box-shadow: 0px 0px 4px 4px inset rgba(0, 0, 0, 0.25);
}

@keyframes glow {
    0% {
        box-shadow: none;
    } 50% {
        box-shadow: 0px 0px 10px #fff,
        0px 0px 15px #fff,
        0px 0px 20px #fff,
        0px 0px 30px #fff,
        0px 0px 35px #fff,
        0px 0px 40px base.$primary-color,
        0px 0px 45px base.$primary-color,
        0px 0px 55px base.$primary-color,
        0px 0px 65px base.$primary-color,
        0px 0px 70px base.$primary-color,
        0px 0px 80px base.$primary-color,
        0px 0px 90px base.$primary-color,
        0px 0px 100px base.$primary-color,
        0px 0px 110px base.$primary-color,
        0px 0px 115px base.$primary-color,
        0px 0px 120px base.$primary-color,
        0px 0px 130px base.$primary-color,
        0px 0px 140px base.$primary-color;
    } 100% {
        box-shadow: 0px 0px 5px #fff,
        0px 0px 10px #fff,
        0px 0px 20px base.$primary-color,
        0px 0px 30px base.$primary-color,
        0px 0px 40px base.$primary-color,
        0px 0px 50px base.$primary-color,
        0px 0px 60px base.$primary-color,
        0px 0px 70px base.$primary-color,
        0px 0px 80px base.$primary-color,
        0px 0px 90px base.$primary-color,
        0px 0px 100px base.$primary-color;
    }
}

#yellowGlow {
    animation-name: glow;
    animation-duration: 6s;
    animation-fill-mode: both;
}