//Fetching Google font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

//Color-palette
$primary-color: #81CEEB;
$secondary-color: #112E39;
$tertiary-color: #F6D110;
$fourth-color: #E6F2F4;

$font-family: "Josefin Sans", arial;