@use "base.scss";

body {
    margin: 0px;
    font-family: base.$font-family;
    background-color: base.$fourth-color;
}

#yellowGlow {
    height: 5px;
    width: 100%;
    margin-top: 70px;
    background-color: base.$tertiary-color;
}

#result {
    margin: 0px;
    padding: 2%;
    color: base.$fourth-color;
    background-color: base.$secondary-color;
}

#recommendations {
    @extend #result;
}

#searchDiv {
    padding: 4%;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    button {
        margin-left: 10px;
    }
}

footer {
    display: flex;
    padding: 2%;
    background-color: base.$primary-color;
}

#bigLogo {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#smallLogo {
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
}